* {
  box-sizing: border-box;
}

:root {
  --font-primary: 'Roboto', Verdana, sans-serif;
  --font-secondary: 'Poppins', Verdana, sans-serif;
  --font-body: 'Nunito Sans', Verdana, sans-serif;

  --font-size-heading-large: 2.5rem;
  --font-size-heading-medium: 1.8rem;
  --font-size-heading-small: 1.5rem;
  --font-size-body-large: 1.2rem;
  --font-size-body: 1rem;
  --font-size-small: 0.875rem;

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --color-light: #F2F6FF;
  --color-light-hover: #B3C7F7;
  --color-dark: #014B87;    
  --color-dark-hover: #0050A6;
  --color-textblock: #3F546E;
}

.visually-hidden {
  display: none;
}

body {
  padding-top: 5vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--color-light);
}

.navbar {
  background-color: var(--color-dark);
  overflow: hidden;
  font-family: var(--font-secondary);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  height: auto;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: var(--font-size-small);
}

.navbar-current-page {
  background-color: var(--color-light);
  color: black;
}

.navbar-current-page:hover {
  background-color: var(--color-light-hover);
  color: var(--color-dark)
}

.navbar-button, .login-link {
  color: var(--color-light);
}

.navbar-button:hover, .login-link:hover {
  background-color: var(--color-light);
  color: black;
}

/* Modales */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fefefe;
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  width: 90%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  position: relative;
}

.modal .modal-content h2 {
  margin: 0;
  font-size: 1.5rem;
  font-family: var(--font-primary);
  color: var(--color-dark);
}

.modal .modal-content span {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  color: #333;
  cursor: pointer;
}

.modal-content label {
  display: block;
  margin: 1rem 0 0 0;
  font-family:  var(--font-body);
  font-size: var(--font-size-body);
  color: var(--color-dark);
}

.modal-content input[type="email"],
.modal-content input[type="tel"],
.modal-content input[type="text"],
.modal-content input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.modal .modal-content .modal-content-checkbox {
  display: flex;
  flex-direction: row;
}

.modal-content input[type="checkbox"] {
  margin: 1rem 0 0 1rem;
  transform: scale(1.2);
}

.modal-button {
  font-family: var(--font-secondary);
  font-size: var(--font-size-body);
  background-color: var(--color-dark);
  color: var(--color-light);
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  margin: 1rem 0 0 0;
}

.modal-button:hover {
  background-color: var(--color-dark-hover);
}

/* Header */
.header {
  margin-top: 5vh;
  background-color: var(--color-dark);
  overflow: hidden;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-home {
  height: 42vh;
}

.header-home h1 {
  color: var(--color-light);
  font-family: var(--font-primary);
  font-size: calc(var(--font-size-heading-large) * 2);
  font-weight: var(--font-weight-bold);
  margin: 0;
}

.header h2 {
  color: var(--color-light);
  font-family: var(--font-secondary);
  font-size: var(--font-size-heading-medium);
  font-weight: var(--font-weight-semibold);
  margin: 0.5rem 0 1rem 0;
}

.header:not(.header-home) {
  height: 15vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.header:not(.header-home) .header-title {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: flex-start;
  padding: 0.8rem;
}

.header:not(.header-home) .header-title h1 {
  color: var(--color-light);
  font-family: var(--font-primary);
  font-size: calc(var(--font-size-heading-large));
  font-weight: var(--font-weight-bold);
  margin: 0;
}

.header:not(.header-home) .header-title h2 {
  color: var(--color-light);
  font-family: var(--font-secondary);
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-semibold);
  margin: 0;
}

.header:not(.header-home) .header-logo img {
  height: auto;
  max-width: 4.688rem;
}

.header:not(.header-home) .page-title h3 {
  color: var(--color-light-hover);
  font-family: var(--font-primary);
  font-size: var(--font-size-heading-large);
  font-weight: var(--font-weight-bold);
  margin: 0;

}

.header .button-container {
  display: flex;
  justify-content: center;
  gap: 1.875rem;
  width: 100%;
  max-width: 28.125rem;
}

.header .button-container button,
.header .button-container a {
  flex: 1;
  padding: 0.5rem 1rem;
  flex-basis: 25rem;
  white-space: nowrap;
  overflow: hidden;
  background-color: var(--color-light);
  border: 1px solid #ccc;
  border-radius: 0.315rem;
  font-family: var(--font-secondary);
  font-size: calc(var(--font-size-body) * 0.9);
  font-weight: var(--font-weight-medium);
  text-decoration: none;
  color: var(--color-textblock)
}

.header .button-container button:hover,
.header .button-container a:hover {
  background-color: var(--color-light-hover);
}

/* Search Bar*/
.header .search-bar {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 36rem;
  color: black;
}

.header .search-bar .search-bar_input {
  flex: 1;
  height: 90%;
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 0.315rem 0 0 0.315rem;
  margin: 0;
  background-color: var(--color-light);
}

.header .search-bar button {
  height: 90%;
  padding: 0.8rem;
  margin: 0;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 0 0.315rem 0.315rem 0;
  background-color: var(--color-light);
  font-family: var(--font-secondary);
  color: var(--color-textblock);
  font-size: var(--font-size-small);
}

.header .search-bar button:hover {
  background-color: var(--color-light-hover);
}

/* Main */
main {
  height: auto;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.home-main-content {
  padding: 1rem;
  display: flex;
  align-items: center;
  background-color: var(--color-light);
  overflow: hidden;
}

.home-textbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
}

.home-textbox-title {
  font-family: var(--font-primary);
  font-size: var(--font-size-heading-large);
  font-weight: var(--font-weight-bold);
  color: var(--color-dark);
  margin: 0 0 0.6rem 5rem;
}

.home-textbox-subtitle {
  font-family: var(--font-secondary);
  font-size: var(--font-size-heading-small);
  font-weight: var(--font-weight-semibold);
  color: var(--color-dark-hover);
  margin: 0 0 0.9rem 5rem;
}

.home-textbox-content {
  font-family: var(--font-body);
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-regular);
  color: var(--color-textblock);
  margin: 0 0 0 3rem;
}

.home-textbox-image {
  width: 100%;
  height: auto;
  max-width: 18.75rem;
  margin-left: 2rem;
  margin-right: 3rem;
}

.main-content {
  padding: 1rem;
  display: flex;
  align-items: center;
  background-color: var(--color-light);
  overflow: hidden;
}

.textbox-title {
  font-family: var(--font-primary);
  font-size: var(--font-size-heading-large);
  font-weight: var(--font-weight-bold);
  color: var(--color-dark);
  margin: 0 0 0.6rem 5rem;
}

.textbox-subtitle {
  font-family: var(--font-secondary);
  font-size: var(--font-size-heading-small);
  font-weight: var(--font-weight-semibold);
  color: var(--color-dark-hover);
  margin: 0 0 0.9rem 5rem;
}

.textbox-content {
  font-family: var(--font-body);
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-regular);
  color: var(--color-textblock);
  margin: 0 3rem 0 3rem;
}

/* Footer */
footer {
  text-align: center;
  font-size: var(--font-size-small);
  font-family: var(--font-secondary);
  background-color: var(--color-light);
  color: var(--color-dark);
  width: 100%;
}
