* {
  box-sizing: border-box;
}

:root {
  --font-primary: 'Roboto', Verdana, sans-serif;
  --font-secondary: 'Poppins', Verdana, sans-serif;
  --font-body: 'Nunito Sans', Verdana, sans-serif;

  --font-size-heading-large: 2.5rem;
  --font-size-heading-medium: 1.8rem;
  --font-size-heading-small: 1.5rem;
  --font-size-body-large: 1.2rem;
  --font-size-body: 1rem;
  --font-size-small: 0.875rem;

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --color-light: #F2F6FF;
  --color-light-hover: #B3C7F7;
  --color-dark: #014B87;    
  --color-dark-hover: #0050A6;
  --color-textblock: #3F546E;
  --color-shadow: #00335c;
}

.visually-hidden {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--color-light);
}

.navbar {
  background-color: var(--color-dark);
  overflow: hidden;
  font-family: var(--font-secondary);
  box-shadow: 0rem 0.25rem 0.625rem var(--color-shadow);
  height: auto;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.navbar a {
  float: left;
  display: block;
  text-align: center;
  padding: 0.625rem;
  text-decoration: none;
  font-size: var(--font-size-small);
}

.navbar-current-page {
  background-color: var(--color-light);
  color: black;
}

.navbar-current-page:hover {
  background-color: var(--color-light-hover);
  color: var(--color-dark)
}

.navbar-button, .login-link {
  color: var(--color-light);
}

.navbar-button:hover, .login-link:hover {
  background-color: var(--color-light);
  color: black;
}

/* Modales */
.modal {
  display: none;
  flex-direction: column;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fefefe;
  padding: 1.25rem;
  border-radius: 0.5rem;
  max-width: 30rem;
  width: 100%;
  box-shadow: 0rem 0.25rem 1.5rem var(--color-shadow);
  position: relative;
  display: flex;
  flex-direction: column;
}

.modal .modal-content h2 {
  margin: 0;
  font-size: 1.5rem;
  font-family: var(--font-primary);
  color: var(--color-dark);
}

.modal .modal-content span {
  position: absolute;
  top: 0.625rem;
  right: 0.938rem;
  cursor: pointer;
  font-family: var(--font-secondary);
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-regular);
  color: var(--color-textblock)
}

.modal-content label {
  display: block;
  margin: 1rem 0 0 0;
  font-family:  var(--font-body);
  font-size: var(--font-size-body);
  color: var(--color-dark);
}

.modal-content input[type="email"],
.modal-content input[type="tel"],
.modal-content input[type="text"],
.modal-content input[type="password"] {
  width: 100%;
  padding: 0.625rem;
  border: 0.06rem solid #ccc;
  border-radius: 0.3rem;
  box-sizing: border-box;
}

.modal .modal-content .modal-content-checkbox {
  display: flex;
  flex-direction: row;
}

.modal-content input[type="checkbox"] {
  margin: 1rem 0 0 1rem;
  transform: scale(1.2);
}

.modal_login_passw {
  position: relative;
  display: flex;
  flex-direction: column;
}


.toggle-password {
  background: none;
  border: none;
  position: absolute;
  right: 0.5rem;
  transform: translateY(33%);
  cursor: pointer;
}

.register-toggle-password {
  background: none;
  border: none;
  position: absolute;
  right: 1.5rem;
  transform: translateY(33%);
  cursor: pointer;
}

.icon-eye-open {
  width: 20px;
  height: 20px;
  display: inline-block;
  background-image: url("/resources/eye.svg");
  background-size: cover;
}

.icon-eye-closed {
  width: 20px;
  height: 20px;
  display: inline-block;
  background-image: url("/resources/eye-off.svg");
  background-size: cover;
}

#password {
  padding-right: 2.5rem;
}

.modal-button {
  font-family: var(--font-secondary);
  font-size: var(--font-size-body);
  background-color: var(--color-dark);
  color: var(--color-light);
  border: none;
  padding: 0.625rem;
  border-radius: 0.3rem;
  cursor: pointer;
  width: 100%;
  margin: 1rem 0 0 0;
}

.modal-button:hover {
  background-color: var(--color-dark-hover);
}

.modal-custom-profession-container,
.modal-custom-category-container,
.modal-custom-service-container {
  display: none;
}

/* Header */
.header {
  margin-top: 2.375em;
  background-color: var(--color-dark);
  overflow: hidden;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.header-home {
  height: 28rem;
}

.header-home h1 {
  color: var(--color-light);
  font-family: var(--font-primary);
  font-size: calc(var(--font-size-heading-large) * 2);
  font-weight: var(--font-weight-bold);
  margin: 0;
}

.header h2 {
  color: var(--color-light);
  font-family: var(--font-secondary);
  font-size: var(--font-size-heading-medium);
  font-weight: var(--font-weight-semibold);
  margin: 0.5rem 0 1rem 0;
}

.header:not(.header-home) {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.header:not(.header-home) .header-title {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: flex-start;
  padding: 0.8rem;
  flex: 0 0 auto;
}

.header:not(.header-home) .header-title h1 {
  color: var(--color-light);
  font-family: var(--font-primary);
  font-size: calc(var(--font-size-heading-large));
  font-weight: var(--font-weight-bold);
  margin: 0;
}

.header:not(.header-home) .header-title h2 {
  color: var(--color-light);
  font-family: var(--font-secondary);
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-semibold);
  margin: 0;

}

.header:not(.header-home) .header-logo {
  flex: 0;
}

.header:not(.header-home) .header-logo img {
  height: auto;
  max-width: 4.688rem;
}


.header:not(.header-home) .page-title {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  flex-direction: column;
}

/* .header:not(.header-home) .page-title-h3 {
  color: var(--color-light-hover);
  font-family: var(--font-primary);
  font-size: var(--font-size-heading-small);
  font-weight: var(--font-weight-semibold);
} */

.header:not(.header-home) .page-title h3 {
  color: var(--color-light-hover);
  font-family: var(--font-primary);
  font-size: var(--font-size-heading-small);
  font-weight: var(--font-weight-semibold);
  margin: 0;
}

.header:not(.header-home) .page-title-h4 {
  color: var(--color-light-hover);
  font-family: var(--font-primary);
  font-size: var(--font-size-heading-large);
  font-weight: var(--font-weight-bold);
}

.header .button-container {
  display: flex;
  justify-content: center;
  gap: 1.875rem;
  width: 100%;
  max-width: 28.125rem;
}

.header .button-container button,
.header .button-container a {
  flex: 1;
  padding: 0.5rem 1rem;
  flex-basis: 25rem;
  white-space: nowrap;
  overflow: hidden;
  background-color: var(--color-light);
  border: 0.06rem solid #ccc;
  border-radius: 0.315rem;
  font-family: var(--font-secondary);
  font-size: calc(var(--font-size-body) * 0.9);
  font-weight: var(--font-weight-medium);
  text-decoration: none;
  color: var(--color-textblock)
}

.header .button-container button:hover,
.header .button-container a:hover {
  background-color: var(--color-light-hover);
}

/* Search Bar*/
.header .search-bar {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 36rem;
  color: black;
}

.header .search-bar .search-bar_input {
  flex: 1;
  height: 90%;
  padding: 0.8rem;
  border: 0.06rem solid #ccc;
  border-radius: 0.315rem 0 0 0.315rem;
  margin: 0;
  background-color: var(--color-light);
}

.header .search-bar button {
  height: 90%;
  padding: 0.8rem;
  margin: 0;
  cursor: pointer;
  border: 0.06rem solid #ccc;
  border-radius: 0 0.315rem 0.315rem 0;
  background-color: var(--color-light);
  font-family: var(--font-secondary);
  color: var(--color-textblock);
  font-size: var(--font-size-small);
}

.header .search-bar button:hover {
  background-color: var(--color-light-hover);
}

/* Main */
.index-main {
  height: auto;
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.home-main-content {
  padding: 1rem;
  display: flex;
  align-items: center;
  background-color: var(--color-light);
  overflow: hidden;
}

.home-textbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
}

.home-textbox-title {
  font-family: var(--font-primary);
  font-size: var(--font-size-heading-large);
  font-weight: var(--font-weight-bold);
  color: var(--color-dark);
  margin: 0 0 0.6rem 5rem;
}

.home-textbox-subtitle {
  font-family: var(--font-secondary);
  font-size: var(--font-size-heading-small);
  font-weight: var(--font-weight-semibold);
  color: var(--color-dark-hover);
  margin: 0 0 0.9rem 5rem;
}

.home-textbox-content {
  font-family: var(--font-body);
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-regular);
  color: var(--color-textblock);
  margin: 0 0 0 3rem;
}

.home-textbox-image {
  width: 100%;
  height: auto;
  max-width: 18.25rem;
  margin-left: 2rem;
  margin-right: 3rem;
}

.main-content {
  padding: 1rem;
  display: flex;
  align-items: center;
  background-color: var(--color-light);
  overflow: hidden;
}

.textbox-title {
  font-family: var(--font-primary);
  font-size: var(--font-size-heading-large);
  font-weight: var(--font-weight-bold);
  color: var(--color-dark);
  margin: 0 0 0.6rem 5rem;
}

.textbox-subtitle {
  font-family: var(--font-secondary);
  font-size: var(--font-size-heading-small);
  font-weight: var(--font-weight-semibold);
  color: var(--color-dark-hover);
  margin: 0 0 0.9rem 5rem;
}

.textbox-content {
  font-family: var(--font-body);
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-regular);
  color: var(--color-textblock);
  margin: 0 3rem 0 3rem;
}

/* Footer */
footer {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
}

footer p {
  font-size: var(--font-size-small);
  font-family: var(--font-secondary);
  background-color: var(--color-light);
  color: var(--color-dark);
}


/* pro registration form */
.main-form-super-container {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.main-form {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  padding: 1.25rem;
  box-shadow: 0rem 0.25rem 1.5rem var(--color-shadow);
  max-width: 50rem;
  width: 100%;
  gap: 0.625rem 1.25rem;
}

.main-form-content {
  display: flex;
  flex-direction: column;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.main-form-content h2 {
  margin: 0;
}

.main-form-container {
  display: flex;
  justify-content: space-between;
}

.main-form-container-button {
  display: flex;
  justify-content: center;
}

.main-form-fields {
  display: flex;
  flex-direction: column;
  max-width: 20rem;
  width: 100%;
  color: var(--color-textblock);
}

.main-form-fields-mobility {
  display: flex;
  flex-direction: row;
  max-width: 20rem;
  width: 100%;
  color: var(--color-textblock);
  justify-content: flex-start;
  align-items: center;
}


.main-form-fields-pro {
  display: flex;
  flex-direction: column;
  max-width: 20rem;
  width: 100%;
}

.main-form-fields-pro select {
  background-color: #fefefe;
  width: 20rem;
  height: 100%;
  border: 0.06rem solid #ccc;
  border-radius: 0.3rem;
  color: var(--color-textblock);
}

.main-form-fields-modal {
  display: flex;
  max-width: 20rem;
  width: 100%;
  flex-direction: column;
}

.main-form-address {
  display: flex;
  flex-direction: column;
}

.main-form h2 {
  font-family: var(--font-primary);
  font-size: var(--font-size-heading-large);
  font-weight: var(--font-weight-bold);
  color: var(--color-dark);
}

.main-form label {
  display: block;
  margin: 1rem 0 0 0;
  font-family: var(--font-body);
  font-family:  var(--font-body);
  font-size: var(--font-size-body);
  color: var(--color-dark);
}

.main-form input[type="email"],
.main-form input[type="tel"],
.main-form input[type="text"],
.main-form input[type="password"],
.main-form input[type="number"] {
  width: 100%;
  min-width: 20rem;
  padding: 0.625rem;
  border: 0.06rem solid #ccc;
  border-radius: 0.3rem;
  box-sizing: border-box;
}

.main-form input[type="checkbox"] {
  margin: 1rem 0 0 1rem;
  transform: scale(1.2);
}

.pro-register-toggle-password{
  display: inline-block;
  text-align: end;
  background: none;
  border: none;
  margin-right: 0.5rem;
}

.pro-icon-eye-open {
  width: 1.25rem;
  height: 1.25rem;
  transform: translateY(-140%);
  display: inline-block;
  background-image: url("/resources/eye-off.svg");
  background-size: cover;
  cursor: pointer;
}

.pro-icon-eye-closed {
  width: 1.25rem;
  height: 1.25rem;
  transform: translateY(-140%);
  display: inline-block;
  background-image: url("/resources/eye.svg");
  background-size: cover;
  cursor: pointer;
}

.main-form-button {
  font-family: var(--font-secondary);
  font-size: var(--font-size-body);
  background-color: var(--color-dark);
  color: var(--color-light);
  border: none;
  padding: 0.625rem;
  border-radius: 0.3rem;
  cursor: pointer;
  max-width: 20rem;
  width: 100%;
  margin: 1rem 0 0 0;
}



/* Pro Dashboard */
.pro-dashb-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pro-dashb-main {
  font-family: var(--font-primary);
  font-size: var(--font-size-body-large);
  font-weight: var(--font-weight-medium);
  color: var(--color-dark);
}

.pro-dashb-main-top-container {
  border: 0;
  margin: 0.8rem;
  padding: 0.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pro-dashb-infos-container{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.pro-dashb-infos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
}

.pro-dashb-infos p {
  margin: 0;
  font-family: var(--font-primary);
  font-size: var(--font-size-heading-medium);
  font-weight: var(--font-weight-regular);
  color: var(--color-textblock);
}

.pro-dashb-main-lateral-panels {
  display: flex;
  flex-direction: row;
  gap: 20rem
}

.pro-dashb-main-left-panel {
  display: flex;
  flex-direction: column;
  gap: 10rem
}

.pro-dashb-main-right-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pro-dashb-calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pro-dashb-calendar img {
  max-width: 50rem;
  width: 100%;
}


/* User Dashboard */
.user-dashb-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-primary);
  font-size: var(--font-size-body-large);
  font-weight: var(--font-weight-medium);
  color: var(--color-dark);
}

.user-dashb-main-top-container {
  border: 0;
  margin: 0.8rem;
  padding: 0.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-dashb-infos-container{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.user-dashb-infos {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.user-dashb-infos p {
  margin: 0;
  font-family: var(--font-primary);
  font-size: var(--font-size-heading-medium);
  font-weight: var(--font-weight-regular);
  color: var(--color-textblock);
}

.user-dashb-main-lateral-panels {
  display: flex;
  gap: 20rem
}

.user-dashb-main-left-panel {
  display: flex;
  flex-direction: column;
  gap: 10rem
}

.user-dashb-main-right-panel {
  display: flex;
  flex-direction: column;
}
